PS8/PS8/Service References/ServiceReference1/BoggleService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://cs3500-boggle-s17.azurewebsites.net/BoggleService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/Message" />
  <xs:import schemaLocation="http://cs3500-boggle-s17.azurewebsites.net/BoggleService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Boggle" />
  <xs:element name="API">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="APIResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.microsoft.com/Message" name="APIResult" type="q1:StreamBody" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MakeUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Boggle" minOccurs="0" name="data" nillable="true" type="q2:Name" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MakeUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Boggle" minOccurs="0" name="MakeUserResult" nillable="true" type="q3:User" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="JoinGame">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Boggle" minOccurs="0" name="data" nillable="true" type="q4:GameRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="JoinGameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Boggle" minOccurs="0" name="JoinGameResult" nillable="true" type="q5:Game" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CancelGame">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Boggle" minOccurs="0" name="data" nillable="true" type="q6:User" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CancelGameResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="PlayWord">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/Boggle" minOccurs="0" name="data" nillable="true" type="q7:PlayedWord" />
        <xs:element minOccurs="0" name="gameID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PlayWordResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/Boggle" minOccurs="0" name="PlayWordResult" nillable="true" type="q8:WordScore" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Status">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="gameID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="brief" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="StatusResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/Boggle" minOccurs="0" name="StatusResult" nillable="true" type="q9:Status" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>